body {
    margin: 0 auto;
    background-image: url("/img/blue-sky-art-HD.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

header {
    margin: 0 5% auto;
    max-width: 1750px;
    min-width: 500px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.4);
    height: 100px;
}

section {
    margin: 2% auto;
    height: 700px;
}

h1 {
    margin: 2px auto;
    height: 80px;
    max-width: 750px;
    min-width: 500px;
    border: 1px solid rgba(255,255,255,0.4);
    background-color: rgba(255, 255, 255,0.2);
}

p {
    margin: 0 auto;
    display: none;
    width: 580px;
    height: 400px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}